.list-group-item{
    font-size: 20px;
}
.card {
    max-width: 600px; /* Ancho máximo de la tarjeta */
    padding: 20px;
    margin: 20px;
    border-radius: 25px; /* Bordes redondeados */
    box-shadow: 0 0 20px rgba(62, 14, 14, 0.1); /* Sombra */
  }